.add-task-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(127, 127, 127, .5);
}

.align-modal-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    max-width: 600px;
    width: 80%;
    height: 80%;
    border: 0;
    border-radius: 20px;
    background-color: rgb(219, 83, 4);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: 0;
    font-size: 20px;
}

.input-element {
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.input-element input {
    width: 80%;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px;
    height: 22px;
    font-size: 15px;
    margin: 7px;
    background-color: rgb(240, 111, 24);
}

.input-element textarea {
    width: 80%;
    height: 200px;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 15px;
    margin: 7px;
    background-color: rgb(240, 111, 24);
}

.input-element select {
    text-align: center;
    background: rgb(240, 111, 24);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

form button {
    padding: 5px;
}